Repository UXARRAY/uxarray, pull requests merged in 2024-09, with the labels that each got.

#915 Dask Array Support & Chunking for `Grid`
  docs/user_api/index.rst
  test/test_dask.py
  uxarray/core/api.py
  uxarray/grid/grid.py
Labels: scalability

#944 Fix Typo in Grid Formats User Guide
  docs/user-guide/grid-formats.rst
Labels: documentation

#899 Check Grid for Partial Spherical Coverage
  benchmarks/mpas_ocean.py
  docs/internal_api/index.rst
  docs/user_api/index.rst
  test/test_grid.py
  uxarray/conventions/descriptors.py
  uxarray/grid/geometry.py
  uxarray/grid/grid.py
  uxarray/grid/validation.py
Labels: run-benchmark

#955 Zonal mean helpers Fix
  benchmarks/asv.conf.json
  benchmarks/face_bounds.py
  test/test_arcs.py
  test/test_geometry.py
  test/test_integrate.py
  test/test_intersections.py
  uxarray/constants.py
  uxarray/grid/arcs.py
  uxarray/grid/coordinates.py
  uxarray/grid/geometry.py
  uxarray/grid/integrate.py
  uxarray/grid/intersections.py
  uxarray/grid/utils.py
  uxarray/utils/computing.py
Labels: bug, improvement, run-benchmark

#957 Template Benchmarks
  benchmarks/mpas_ocean.py
Labels: run-benchmark

#973 Add Code of Conduct
  CODE_OF_CONDUCT.md
Labels: documentation, improvement
